{
  "extends": ["naver", "prettier", "plugin:react/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "consistent-return": 0,
    "linebreak-style": 0,
    "import/prefer-default-export": "off"
  }
}
